@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'omnitrinx';
  src: url('/omnitrinx.otf') format('opentype');
}

@font-face {
  font-family: 'bonheur';
  src: url('/bonheur.ttf') format('truetype');
}

@font-face {
  font-family: 'exo-regular';
  src: url('/exo-regular.otf') format('opentype');
}

@font-face {
  font-family: 'kings';
  src: url('/kings.ttf') format('truetype');
}

@font-face {
  font-family: 'zen-dots';
  src: url('/zen-dots.ttf') format('truetype');
}

@layer base {
  body::before {
    content: '';
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;
    background-image: url('/public/nova_viridian.jpeg');
    z-index: -1;
  }

  html.light body::after {
    content: '';
    position: fixed;
    background-color: rgb(190, 190, 190);
    opacity: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;
  }

  html.dark body::after {
    content: '';
    position: fixed;
    background-color: rgb(5, 5, 5);
    opacity: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;
  }
}

@layer components {
  .text-accent {
    color: var(--accent-primary);
    fill: var(--accent-primary);
  }
  .border-accent {
    border-color: var(--accent-primary);
  }
  .bg-primary {
    @apply bg-zinc-150 dark:bg-zinc-900;
  }
  .bg-secondary {
    @apply bg-zinc-200 dark:bg-zinc-850;
  }
  .bg-tertiary {
    @apply bg-zinc-300 dark:bg-zinc-800;
  }
  .input-primary {
    @apply bg-zinc-200 dark:bg-zinc-800;
  }
  .text-primary {
    @apply text-black dark:fill-gray-50 dark:text-gray-50;
  }
  .text-secondary {
    @apply text-gray-900 dark:fill-gray-200 dark:text-gray-200;
  }
  .text-tertiary {
    @apply text-gray-600 dark:fill-gray-400 dark:text-gray-400;
  }
  .text-error {
    @apply text-red-500 dark:text-red-500;
  }
  .shadow-color {
    @apply shadow-md shadow-black dark:shadow-black;
  }
  .scrollbar-primary {
    @apply scrollbar scrollbar-track-zinc-100 dark:scrollbar-track-zinc-800 scrollbar-thumb-zinc-400 dark:scrollbar-thumb-zinc-900;
  }
  .scrollbar-secondary {
    @apply scrollbar-thin scrollbar-track-zinc-100 dark:scrollbar-track-zinc-800 scrollbar-thumb-zinc-400 dark:scrollbar-thumb-zinc-900;
  }
  .scrollbar-primary-2 {
    @apply scrollbar scrollbar-track-zinc-100 dark:scrollbar-track-zinc-900 scrollbar-thumb-zinc-400 dark:scrollbar-thumb-zinc-800;
  }
  .scrollbar-secondary-2 {
    @apply scrollbar-thin scrollbar-track-zinc-100 dark:scrollbar-track-zinc-900 scrollbar-thumb-zinc-400 dark:scrollbar-thumb-zinc-800;
  }
  .timing {
    @apply transition-all duration-300 ease-in-out md:duration-300;
  }
  h1 {
    @apply text-primary text-3xl font-semibold tracking-widest lg:text-4xl;
  }
  h2 {
    @apply text-primary text-2xl font-semibold tracking-widest lg:text-3xl;
  }
  h3 {
    @apply text-secondary text-xl font-semibold tracking-widest lg:text-2xl;
  }
  h4 {
    @apply text-secondary text-lg font-semibold tracking-widest lg:text-xl;
  }
  p,
  input,
  select,
  textarea,
  li {
    @apply text-secondary text-lg tracking-wide lg:text-xl;
  }
  ul {
    @apply ml-8 list-disc;
  }
  ul > ul,
  ol > ol {
    @apply ml-12 list-none;
  }
  ol {
    @apply ml-8 flex list-decimal flex-col gap-1;
  }
  .editor-underline {
    @apply underline;
  }
  .editor-strikethrough {
    @apply line-through;
  }
  .editor-table {
    @apply w-full table-fixed;
  }
  .editor-table-cell {
    @apply !border-2 !border-zinc-400 bg-transparent p-2;
  }
  .main-layout-large {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blur {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    opacity: 0.5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.spin {
  animation: spin 0.75s linear infinite;
}

.barBlur {
  animation: blur 0.3s linear forwards;
}
